@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Text size */
  --text-base: 1.125rem;

  --font-sans: var(--font-rubik-sans);

  /* Primary colors */
  --color-purple-600: hsl(246, 80%, 60%);

  --color-orange-300: hsl(15, 100%, 70%); /* work */
  --color-blue-300: hsl(195, 74%, 62%); /* play */
  --color-pink-400: hsl(348, 100%, 68%); /* study */
  --color-green-400: hsl(145, 58%, 55%); /* exercise */
  --color-purple-700: hsl(264, 64%, 52%); /* social */
  --color-yellow-300: hsl(43, 84%, 65%); /* self care */

  /* Neutral colors */
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);
}

* {
  /* @apply outline-2 outline-amber-300; */
}

body {
  background: var(--color-navy-950);
  /* color: var(--color-navy-200); */
  color: theme(--color-purple-50);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.btn {
  @apply cursor-pointer text-navy-200;
}

.btn--active {
  @apply text-purple-50;
}
